<div class="row">
  <div class="col-md-8">
    <h3>Registro de listas</h3>
    <p>Seleccione y haga "click" sobre la Lista que desea votar</p>
  </div>  
  <div class="col-md-4">
<div hidden class="dni" id="{{dni}}"></div>
  </div>
</div>
<hr />
<div class="row mt-5">
  {{#each listas}}
    <div class="col-md-3 mt-3">

      <div
        class="card open-modal idLista"
        data-open="mymodal2"
        id="{{this.id}}"
      >
        <div class="card-body">
          <h4 class="card-title align-items-center">
            {{this.nombre_lista}}
          </h4>
          <img
            src="/imgListas/{{this.boleta_img}}" class="img-fluid"
            alt="Lista Uno"            
          />
          <!--<input type="text" class="idLista" for="idLista" hidden id="{{this.id}}" value="{{this.id}}"> -->
        </div>
      </div>

    </div>
  {{/each}}
</div>

<div class="mymodal" id="mymodal2">
  <div class="mymodal-dialog">
    <header class="mymodal-header">
      Seleccion de Lista
    </header>
    <p> ¿Esta seguro que desea emitir su voto a la lista selecciionada? </p>
    <section class="mymodal-content">
      <p>** Si desea volver atras, solamente haga click en cualquier otra parte
        de la pantalla</p>
    </section>
    <footer class="mymodal-footer">
      <button
        type="button"
        class="close-modal btn btn-primary"
        aria-label="close modal"
        data-close
      >
        SI - Confirmar votacion
      </button>
    </footer>
  </div>
</div>